li {
  padding: 5px;
  margin: 5px;
  background: orange;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
.d-f{
  display: flex;
}
.lis-n{
  list-style: none;
}